body {
  font-family: "Comfortaa", sans-serif;
  background-color: green;
}
.brosoc {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0.515)); 
  border: 1px solid hsl(203, 30%, 26%);
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.747);
}
.brosoc:hover {
  background-image: linear-gradient(rgb(0, 0, 0),  rgba(255, 255, 255, 0.515)); 
  border: 1px solid hsl(203, 30%, 26%);
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: none;
  cursor: pointer;
}
.brosoc span {
  margin: auto;        
  vertical-align: middle;
  color: white;
  line-height: clamp(2rem, 10px + 8vw, 100px);     /* Для адаптивности кнопки бросания карт */ 
  font-size: clamp(0.75rem, 0.5rem + 2vw, 1.5rem);
}
.ekran {
  /* width: 300px;
  height: 100px; */
  background: radial-gradient(rgb(2, 72, 249), rgb(2, 2, 170));
  text-align: center;        
  padding: 0px 5px 0px 5px;
  color: white;

  border: clamp(3px, 1.7vw, 10px) solid transparent;
  border-image: linear-gradient( rgba(0, 0, 0, 0.748), rgba(255, 255, 255, 0.501)) 30% / 1 / 0 stretch;
  font-size: clamp(0.75rem, 0.25rem + 2vw, 1.3rem);  /* Для адаптивности верхнего экрана */
}
.ekran p { margin: 0; }
.ekran2 {
  background: radial-gradient(rgb(2, 72, 249), rgb(2, 2, 170));
  text-align: start;        
  color: white;

  border: clamp(1px, 1.3vw, 10px) solid transparent;
  border-image: linear-gradient( rgba(0, 0, 0, 0.748), rgba(255, 255, 255, 0.501)) 30% / 1 / 0 stretch;
  line-height: clamp(0.75rem, 0.25rem + 2vw, 1.5rem);   /* Для адаптивности бокового экрана */
  font-size: clamp(0.75rem, 0.25rem + 2vw, 1rem);  
  position: absolute;
}   
.start {
  background-image: linear-gradient(90deg,hsl(40, 94%, 37%), hsla(58, 81%, 61%, 0.996));
  border: 0;
  border-radius: 0.3rem;
  margin-top: 1rem;
  padding: 0;
  color: white;
  line-height: clamp(1rem, 2px + 4vw, 43px);         /* Для адаптивности кнопки старт */     
  font-size: clamp(0.75rem, 0.25rem + 2vw, 1.3rem);
}
.start:hover {
  filter: contrast(150%);
  color: wheat;
}
.card2 {
  word-break: break-word;
  border: 2px solid #242424;
  border-radius: 9px;
  box-shadow: 0px 10px 10px #222222;
  color: white;
  opacity: 0;
}
